:root {
    --mdc-theme-primary: #86cfff;
    --mdc-theme-on-primary: #00344c;
    --mdc-theme-secondary: #e3c600;
    --mdc-theme-on-secondary: #393000;
    --mdc-theme-surface: #191c1e;
    --mdc-theme-on-surface: #e2e2e5;
    --mdc-theme-background: #191c1e;
    --mdc-theme-on-background: #e2e2e5;
}

