<header class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-elevation--z5">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button id="drawerTrigger" class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">menu</button>
            <span class="mdc-top-app-bar__title">Top App Bar</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <button class="mdc-icon-button mdc-top-app-bar__action-item material-icons topAppRipple" aria-label="Favorite">
                <div class="mdc-icon-button__ripple"></div>
                favorite
            </button>
            <button class="mdc-icon-button mdc-top-app-bar__action-item material-icons topAppRipple" aria-label="Search">
                <div class="mdc-icon-button__ripple"></div>
                search
            </button>
            <button class="mdc-icon-button mdc-top-app-bar__action-item material-icons topAppRipple" aria-label="Options">
                <div class="mdc-icon-button__ripple"></div>
                more_vert
            </button>
        </section>
    </div>
</header>
